<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Field House Points Breakdown</title>
</head>

    <h1>Field House Points Breakdown</h1>
    <body>
      <button onclick="goBack()">Back</button>
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
      <P>House points</P>
      </body>

</body>
<ul class="names">
  <!-- Loop through quotes -->
  <% for(var i = 0; i < names.length; i++) {%>
    <li class="House">
      <!-- Output quote from the iterated quote object -->
      <span><%= names[i].Points %></span>
    </li>
  <% } %>
</ul>
</body>

</html>