
body {
    height: 100%;
    background-image: url("https://bn1304files.storage.live.com/y4m9Ws8y6QQPFVxhZLBehmLDZGrpYn_Ftivp7pzwLgnn1mw9F65H6p6lAPAqjdpC1ggF8Qa9QKK25qe9VcsGF13eap-ZWDYZ_oOI2OSbqG6aFMStffvJB3222sB8RJ6osw31nV2bgm5cLZb-S6ENavGwJKvE2Lac4SEBjfRiGRY_nD49-XsC6PiJ_-5VLMBShu4?width=4912&height=2333&cropmode=none"); /* backgorund image by link from a ondrive cloud which is under the same email as the mongodb account */
    background-size: cover; /* makes sure that the background fills the whole page */}
  
  placeholder-shown{
    background-color: #ffffff}
  
  .hide {
    display:none;}
  
  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    text-align:center;
    align-self: center;} /* customises how the text input bars look */
  
  input[class=dropdown], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    text-align:left;} /* customises how the dropdown menus look */
          
  div {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;} /* css for the div section */
    
  .button {
    display: inline-block;
    border-radius: 4px;
    color: #000000;
    border: none;
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    border-radius: 50px;
    align-items: center;} /* general button css for when it is undistrubed */
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;} /* the button animation when static */
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;} /* when the button animation is active [hover] */
  
  .button:hover span {
    padding-right: 25px;} /* general changes when the mouse hovers over the button */
  
  .button:hover span:after {
    opacity: 1;
    right: 0;} /* button after it is clicked */
  
  button1 {
    padding: 8px 8px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    color: #000000; 
    border-radius: 10px;
    width: 100%;} /* second button general customisation */
        
  button1:hover {
    background-color: #2b2a33;
    border: none;
    color: #ffffff;
    border-radius: 10px;} /* whne the mouse hovers over the second button */
     
  /* general body, paragraph and header css [start] */
  
  p {
    font-size: 18px;
    color: #ffffff;}
  
  h1{
    font-size: 40px;  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;}
        
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;}
  
  /* general body, paragraph and header css [end] */
  
  /* css of the box in which the forms are contained [start] */
  
  * {
    box-sizing: border-box;} 
  
  .bg-image {
    height: 70%; 
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 10px solid #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 500px;
    padding: 20px;
    text-align: center;}
  
  /* css of the box in which the forms are contained [end] */