<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Databases/Index/Home</title>
</head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="preset">Preset Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="custom">Custom Settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" style="margin-top:80px">
  <h1>Automated Irrigation</h1>
<h2>Option Settings</h2>
  <h3>Custom Options</h3>

  <!--Custom entry form start-->
 <form action="Moisture" method="POST"> 
        <input type="text" placeholder="Water Moisture Requirement" name="soil">
        <input type="text" placeholder="Water Pump Duration" name="pump">
        <!--Custom entry form finish-->
        <button class="button" type="submit"><span>Submit</span></button><!--submit form-->
      </form>

    </div>
</body>

      <!--CSS start-->
      <style>
        body {
          background-image: url("https://cdn.discordapp.com/attachments/672724997185470477/858844236690096188/web_background.png");
          background-size: cover;
              }
      placeholder-shown{
              background-color: white}

        input[type=text], select {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border-radius: 20px;
          box-sizing: border-box;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }
        .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 50px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

        </style><!--CSS finish-->
        
        </head>
      </head>
</html>