<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databases/Index/Home</title>
</head>
<body>
  <h1>Automated Irrigation</h1>
<h2>Option Settings</h2>
  <h3>Custom Options</h3>

  <!--text input POST 1 start-->
    <form action="/Moisture" method="POST">
        <input type="text" placeholder="Water Moisture Requirement" name="soil">
        <input type="text" placeholder="Water Pump Duration" name="pump">
        <p>

        </p>
        <button class="button" type="submit"><span>Submit</span></button>
      </form> <!--text input POST 1 end-->

 <!--text input POST 2 start-->
      <h3>Preset Options</h3>
   <form action="/Moisture" method="POST" id="myForm">
     <input type="text"name="pump"><br><br>
     <input type="text" name="soil"><br><br>
     <input type="button" onclick="formSubmit()" value="Send form data!">
     <script>
       const myForm = document.querySelector("#myForm");
       function formSubmit() {
           document.forms["myForm"].submit();
       }
       </script> <!--text input POST 2 end-->
</form>

</body>

      <ul hidden class="Moisture">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < Moisture.length; i++) {%>
          <li class="soil">
            <span><%= Moisture[i].soil %></span>
            <!-- Output quote from the iterated quote object -->
          </li>
          <li class="pump">
            <span><%= Moisture[i].pump %></span>
            <!-- Output quote from the iterated quote object -->
          </li>
        <% } %>
      </ul>

      <!--CSS start-->
      <style>
        input[type=text], select {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 20px;
          box-sizing: border-box;
        }
        html { 
          background: url(photo1.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
}
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }

        .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
        </style><!--CSS finish-->
        
        </head>
      </head>
</html>