<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">
    <title>Databases/Index/Home</title>
</head>
<style>
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 70%; 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 10px solid #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>

<div class="bg-text">
	<body>
        <body>
            <h1>Automated Irrigation</h1>
          <form action="Moisture" method="POST"> 
          <p>
          </p>  
            <label id="hide6" >Water Pump Duration</label>
            <p>
            </p>
              <select id="hide4" class="dropdown" name="soil">>
                <option></option>
                <option value=8 >2</option>
                <option value=9 >3</option>
                <option value=10 >4</option>
                <option value=11 >5</option>
                <option value=12 >6</option>
                <option value=13 >7</option>
              </select>
          <p>
          </p>  
            <label id="hide7" >Water Moisture Requirement</label>   
            <p>
            </p>
              <select id="hide5" class="dropdown" name="pump">
                <option></option>
                <option value=8 >2</option>
                <option value=9 >3</option>
                <option value=10 >4</option>
                <option value=11 >5</option>
                <option value=12 >6</option>
                <option value=13 >7</option>
              </select>
              <button id="hide8" class="button" type="submit"><span>Submit</span></button><!--submit form-->
          
          </form>
          <p>
            
          </p>
          <form>
            <section>
              <button1 id="custom">Custom Options</button1>
              <p>
              </p>
              <input id="hide" style="display:none;" type="text" placeholder="Water Moisture Requirement [Voltage Resistance] e.g. 1.600" name="soil">
              <input id="hide2" style="display:none;" type="text" placeholder="Water Pump Duration [Seconds] e.g. 6000" name="pump">
              <button id="hide3" class="button" type="submit"><span>Submit</span></button><!--submit form-->
            </section>  
            
            <script>
            const hide = document.querySelector("#hide");
            const hide2 = document.querySelector("#hide2");
            const hide3 = document.querySelector("#hide3");
            const hide4 = document.querySelector("#hide4");
            const hide5 = document.querySelector("#hide5");
            const hide6 = document.querySelector("#hide6");
            const hide7 = document.querySelector("#hide7");
            const custom = document.querySelector("#custom");
                            
            custom.addEventListener("click", Custom);
                            
            function Custom (){
             if (hide.style.display === "block") {hide.style.display = "none";} else {hide.style.display = "block";}
             if (hide2.style.display === "block") {hide2.style.display = "none";} else {hide2.style.display = "block";}
             if (hide3.style.display === "block") {hide3.style.display = "none";} else {hide3.style.display = "block";}
             if (hide4.style.display === "none") {hide4.style.display = "block";} else {hide4.style.display = "none";}
             if (hide5.style.display === "none") {hide5.style.display = "block";} else {hide5.style.display = "none";}
             if (hide6.style.display === "none") {hide6.style.display = "block";} else {hide6.style.display = "none";}
             if (hide7.style.display === "none") {hide7.style.display = "block";} else {hide7.style.display = "none";}
             if (hide8.style.display === "none") {hide8.style.display = "block";} else {hide8.style.display = "none";}
            }
             </script></form>
          
          
    <style>

      body {
        height: 100%;
          background-image: url("https://bn1304files.storage.live.com/y4m9Ws8y6QQPFVxhZLBehmLDZGrpYn_Ftivp7pzwLgnn1mw9F65H6p6lAPAqjdpC1ggF8Qa9QKK25qe9VcsGF13eap-ZWDYZ_oOI2OSbqG6aFMStffvJB3222sB8RJ6osw31nV2bgm5cLZb-S6ENavGwJKvE2Lac4SEBjfRiGRY_nD49-XsC6PiJ_-5VLMBShu4?width=4912&height=2333&cropmode=none");
          background-size: cover;
          color: #ffffff;
              }
      placeholder-shown{
              background-color: #ffffff}

        input[type=text], select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border-radius: 20px;
          box-sizing: border-box;
          text-align:center;
          align-self: center;
        }

        input[class=dropdown], select {
          width: 70%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border-radius: 20px;
          box-sizing: border-box;
          text-align:left;
          align-self: center;
        }
        
        div {
          border-radius: 5px;
          background-color: #ffffff;
          padding: 20px;
        }
  .button {
  display: inline-block;
  border-radius: 4px;
  color: #000000;
  border: none;
  background-color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 50px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

button1 {
      padding: 8px 8px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
      background-color: #ffffff;
      border: none;
      color: #000000; 
      border-radius: 10px;}

      
  
button1:hover {
      background-color: #2b2a33;
      border: none;
      color: #ffffff;
      border-radius: 10px;} 
      
      p {
      font-size: 18px;
      color: #ffffff;
      }

      p2 {
      font-size: 14px;
      color: #ffffff;
      }

      h1{
      font-size: 40px;  
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: #ffffff;
      }
      </style>
</div>

</body>
</html>