<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databases/Index/Home</title>
</head>
<body>
  <h1>Automated Irrigation</h1>
<h2>Option Settings</h2>
  <h3>Custom Options</h3>
    <form action="/Moisture" method="POST">
        <input type="text" placeholder="Water Moisture Requirement" name="soil">
        <input type="text" placeholder="Water Pump Duration" name="pump">
        <p>

        </p>
        <button class="button" type="submit"><span>Submit</span></button>
      </form>

      <h3>Preset Options</h3>
      <form action="/Moisture" method="POST">
        <p>

        </p>
        <select placeholder="Water Moisture Requirement" name="soil">
          <option value="-"></option>
          <option value="7">Succulents</option>
          <option value="8">Troplical</option>
          <option value="9">Herbs</option>
          <option value="10">Catus</option>
          <option value="11">Houseplant</option>
          <option value="12">Outside Equatoral</option>
          <option value="13">Outside Central</option>
          <option value="14">Outside Poletral</option>
        </select>
        
        <select placeholder="Water Pump Duration" name="pump" >
          <option value="-"></option>
          <option value="7">Succulents</option>
          <option value="8">Troplical</option>
          <option value="9">Herbs</option>
          <option value="10">Catus</option>
          <option value="11">Houseplant</option>
          <option value="12">Outside Equatoral</option>
          <option value="13">Outside Central</option>
          <option value="14">Outside Poletral</option>
        </select>
<p>

</p>
        <button class="button" type="submit"><span>Submit</span></button>
     </form>
</body>

      <ul hidden class="Moisture">
        <!-- Loop through quotes -->
        <% for(var i = 0; i < Moisture.length; i++) {%>
          <li class="House">
            <span><%= Moisture[i].readings %></span>
            <!-- Output quote from the iterated quote object -->
          </li>
        <% } %>
      </ul>
      <style>
        input[type=text], select {
          width: 50%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 20px;
          box-sizing: border-box;
        }
        
        div {
          border-radius: 5px;
          background-color: #f2f2f2;
          padding: 20px;
        }

        .button {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  border-radius: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
        </style>

        </head>
      </head>
</html>
