<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Sports</title>
</head>

    <h1>Track Sports</h1>
    <body>
      <button onclick="goBack()">Back</button>
      <script>
      function goBack() {
        window.history.back();
      }
      </script>

<h1>Noncompetative</h1>
<ul>
<li>100m</li>
</ul>

<h1>Competative</h1>
<ul>
<li>500m</li>
<li>1km</li>
</ul>
      </body>
</html>