<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases</title>
</head>

    <h1>Events in House Group [10]</h1>
    <body>
      <button onclick="goBack()">Back</button>
      <script>
      function goBack() {
        window.history.back();
      }
      </script>
<h1>Noncompetative</h1>

<ul>
  <li>Shotput</li>
  <li>Highjump</li>
  <li>Longjump</li>
</ul>

<h1>Competative</h1>
<ul>
<li>500m</li>
<li>1km</li>
</ul>

<ul>
  <li>Shotput</li>
  <li>Highjump</li>
  <li>Longjump</li>
</ul>
</body>
</html>